@using MudBlazor
@using System.Net.Http.Json
@inject HttpClient Http
@inject HeroImageService HeroImageService



<section class="light" id="Education">
    @if (hero is not null)
    {
        <img class="background" src="@(hero.Src)" alt="@(hero.Alt)" />
    }
    <h2>Education</h2>
    @if (education is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        @foreach (var item in education)
        {
            <MudCard>
                <MudCardMedia Image="images/Facultad_de_Ciencias_UGR.png" Height="200" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">Degree Dissertation</MudText>
                    <MudText Typo="Typo.body2">Degree in Biology.</MudText>
                    <MudText Typo="Typo.body2">Photo of the University of Granada.</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
                </MudCardActions>
            </MudCard>

            <MudCard>
                <MudCardMedia Image="images/eez.png" Height="200" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">Master Thesis</MudText>
                    <MudText Typo="Typo.body2">Olive pollen transcriptomics analysis of allergens and floration development genes.</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
                </MudCardActions>
            </MudCard>

            <MudCard>
                <MudCardMedia Image="images/GENYO.jpg" Height="200" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">PhD Thesis</MudText>
                    <MudText Typo="Typo.body2">Genetic biomarkers seggregating Meniere's disease patients in Spanish population.</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
                </MudCardActions>
            </MudCard>

            <MudCard>
                <MudCardMedia Image="images/LCSB.jpg" Height="200" />
                <MudCardContent>
                    <MudText Typo="Typo.h5">External internship</MudText>
                    <MudText Typo="Typo.body2">Workflow development for Variant calling and annotation in multiomics.</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
                </MudCardActions>
            </MudCard>
            }
    }
</section>

@code {
    private HeroImage? hero;
    private List<EducationItem>? education;

    protected override async Task OnInitializedAsync()
    {
        hero = await HeroImageService.GetHeroAsync(img => img.Name == "education");
        education = await Http.GetFromJsonAsync<List<EducationItem>>("api/education");
    }

    private class EducationItem
    {
        public string Image { get; set; }
        public string Title { get; set; }
        public string Description { get; set; }
    }
}
